.splash-page{
    width:100vw;
    height:100vh;
    background-image: url("./images/splash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    opacity:0.75;
    font-family: 'Rampart One', cursive;
    font-size: 5rem;
    transition: font-size 2s transform 2s;
}
.splashpage:hover{
    transition: all 2s;
}
.alert-class{
   border-radius: 25px;
}

.footer-static{
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
    background: linear-gradient(170deg,rgb(77, 158, 77),white);
  }
  
  .section-heading{
    box-shadow: 5px grey;
  }
  
  
  .page-heading{
    text-align: center;
    background: linear-gradient(290deg,green,grey,white,black,green);
  }

  .main-container{
    
  }

  .login{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    color: black;
    background-image: url("./images/login.jpg");
  }

  .signin{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: url("./images/signuppage.jpg");
    color: rgb(248, 248, 243);
  }

  .login-form{
    width: 95%;
    text-align: left;
  }

  .signup-form{
    width: 100%;
    text-align: left;
  }

  .profile{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    color: black;
    background-image: url("./images/Spa.jpg");
     }

  .activities{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    color: black;
    background-image: url("./images/Dance.jpg");   
  }
